body {
    min-height: 100%;
}

h1,
h2 {
    font-family: Rocknroll One;
}

span {
    font-size: large;
}

.svg {
    height: 200px;
    fill: white;
}

.background {
    background-image: url("https://images.unsplash.com/photo-1635356651833-909cc5d1e505?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    object-fit: contain;
    object-position: bottom;
}